doctype html
html
  head
    meta(charset='utf-8')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script

  body
    h1
      a(href='/board') Board of NodeJS
    br
   div.container
    table.table.table-striped(text-align=center)
     thead
      h2
       tr
        th 번호
        th 작성자
        th 제목
        th 조회수
        th 변경일
     each board in result
      tbody
       h2
        tr
         td= board.idx
         td= board.creator_id
         td
          a(href='/board/read/'+board.idx)= board.title
         td= board.hit
         td= board.modidate
    button#Write
      a(href="/board/write") 글쓰기
  div.div
   ul.ul
